/* app css stylesheet */

html, body, #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: large;
}

.short {
    width: 100px;
}

.wrapper {
    width: 300px;
    /*overflow: hidden;  will contain if #first is longer than #second */
}

.first {
    width: 150px;
    float: left; /* add this */

}

.second {
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

.gm-style img {
    max-width: none;
}

.gm-style label {
    width: auto;
    display: inline;
}

#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
    width: 400px;
    height: 600px;
}

#legend h3 {
    margin-top: 0;
}

#legend img {
    vertical-align: middle;
}

#map_canvas img {
    max-width: none;
}

#Tabs1 {
    width: 360px;
    height: 450px;
}
